
<div
  class="empty-cart-message"
  *ngIf="products_cart.length == 0; else elseBlock"
>
  <h1>Cart empty!.</h1>
</div>

<ng-template #elseBlock>
  <div class="cart-container">
    <div class="cart-panel">
      <div class="cart-item" *ngFor="let cartItem of products_cart">
        <img class="product-image" src="{{ cartItem.url }}" />
        <div class="cart-item-details">
          <p>
            <strong>{{ cartItem.name }}</strong>
          </p>
          <p>${{ cartItem.price }}</p>
          <div>
            <label>Amount:</label>
            <input
            class="form-control"
              type="number"
              name="{{ cartItem.id }} "
              value="{{ cartItem.quantity }}"
              min="0"
              [(ngModel)]="cartItem.quantity"
              (ngModelChange)="updateCart(cartItem)"
            />
          </div>
          <br>
          <button class="btn btn-primary" (click)="removeFromCart(cartItem)">
            Remove from cart
          </button>
        </div>
      </div>
      <form>
        <h1 id="totalPrice">Total: ${{ total_price.toFixed(2) }}</h1>
      </form>
    </div>

    <div class="cart-panel">
      <form class="form-margin" #form="ngForm" (ngSubmit)="onSubmitOrder()">
        <p>Full Name</p>
        <input
          class="form-control"
          type="text"
          name="fullName"
          id="fullName"
          required
          minlength="5"
          [(ngModel)]="full_name"
        />
        <p>Address</p>
        <input
        class="form-control"
          type="text"
          name="address"
          id="address"
          required
          minlength="10"
          [(ngModel)]="address"
        />
        <p>Credit Card Number</p>
        <input
        class="form-control"
          type="text"
          name="ccNum"
          id="ccNum"
          required
          minlength="16"
          maxlength="16"
          inputmode="numeric"
          pattern="^[0-9]*$"
          [(ngModel)]="credit_card_number"
        />
        <br />

        <button class="btn btn-primary" [disabled]="form.invalid">Submit order</button>
      </form>
    </div>
  </div>
</ng-template>
