<form class="product-container" (ngSubmit)="submitAddToCart(product_item)">
  <a [routerLink]='["product", product_item.id]'>
    <img class="product-image" src="{{ product_item.url }}" />
  </a>

  <p>{{ product_item.name }}</p>
  <p>${{ product_item.price }}</p>
  <select
    class="form-control"
    [(ngModel)]="quantity"
    name="{{ product_item.id }}"
  >
    <option *ngFor="let num of quantities" [ngValue]="num">
      {{ num }}
    </option>
  </select>
  <br>  
  <button type="submit" class="btn btn-primary">Add to cart</button>
</form>
