<div class="detail-container">
  <img class="img" src="{{ product.url }}" />
  <div class="detail-item">
    <h2>{{ product.name }}</h2>
    <p>${{ product.price }}</p>
    <p>{{ product.description }}</p>
    <select
      class="form-control"
      [(ngModel)]="product.quantity"
      (ngModelChange)="changeQuantity($event)"
    >
      <option
        class="option"
        *ngFor="let quantity of quantities"
        [value]="quantity"
      >
        {{ quantity }}
      </option>
    </select>
    <br>
    <div>
      <button type="button" class="btn btn-primary" (click)="addToCart(product)">
        Add to cart
      </button>
    </div>

    <div class="back-link">
      <a routerLink="/products">Back to product list</a>
    </div>
  </div>
</div>
