
<div class="detail-container" *ngIf="product_item == undefined; else elseBlock">
  <a routerLink="/">
    <h1 routerLink="/">
      Product not found!
    </h1>
  </a>
</div>

<ng-template #elseBlock>
  <form class="detail-container" (ngSubmit)="submitAddToCart(product_item)">
    <img src="{{ product_item.url }}" />
    <div #elseBlock class="detail-item">
      <h1>{{ product_item.name }}</h1>
      <p>${{ product_item.price }}</p>
      <p>{{ product_item.description }}</p>
      <div>
        <select
          class="form-control"
          [(ngModel)]="quantity"
          name="{{ product_item.id }}"
        >
          <option *ngFor="let num of quantities" [ngValue]="num">
            {{ num }}
          </option>
        </select>
        <br />
        <button type="submit" class="btn btn-primary">Add to cart</button>
        <br />
        <br />

        <a class="back-link" routerLink="/">&larr; Back to product list</a>
      </div>
    </div>
  </form>
</ng-template>
